VITE_SUPABASE_URL=supabase_url
VITE_SUPABASE_ANON_KEY=supabase_anon_key
VITE_GOOGLE_MAPS_API_KEY=google_maps_api_key
VITE_GOOGLE_TRANSLATION_API_KEY=google_translation_api_key
VITE_OCR_SPACE_API_KEY=ocr_space_api_key
VITE_ADMOB_TEST_BANNER_ID=test_banner_id
VITE_RECAPTCHA_SITE_KEY=recaptcha_site_key
VITE_RECAPTCHA_ENABLED=false
VITE_ADMOB_ITEM_DETAILS_BANNER_ID=item_details_banner_id
VITE_ADMOB_SCAN_RESULTS_BANNER_ID=scan_results_banner_id
VITE_ADMOB_TRIP_BANNER_ID=trip_banner_id
VITE_ADMOB_STORE_BANNER_ID=store_banner_id
VITE_ADMOB_STORE_DETAIL_BANNER_ID=store_detail_banner_id
VITE_ADMOB_PLACE_DETAIL_BANNER_ID=place_detail_banner_id